{% extends 'base.html.twig' %}

{% block title %}Benvenuti su Roberto pizze{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">Benvenuti da Roberto!</h1>
        <p class="lead">Siamo entusiasti di darvi il benvenuto sul nostro sito. Qui troverete una vasta gamma di pizze deliziose, fatte con ingredienti freschi e di alta qualità.</p>
        <hr class="my-4">
        <p>Esplorate il nostro menu per trovare la pizza perfetta per voi. Che siate amanti del classico o alla ricerca di nuove combinazioni di sapori, abbiamo qualcosa per tutti i gusti.</p>
        <p>Utilizziamo solo gli ingredienti migliori per garantire che ogni pizza sia un'esperienza indimenticabile.</p>
    </div>
</div>

<ul>
    {% for categories in categories %}
        <li>{{categories.name}}</li>
    {% endfor %}
</ul>

{% endblock %}